.panel {
	z-index: 100;

	position: absolute;
	top: 10px;
	left: 10px;

	width: 20%;
	max-width: 256px;
	min-width: 128px;

	background: rgba(125,0,0,0.2);
	border: 2px solid #161D35;


	font-family: 'Open Sans';


	display: flex;
	flex-direction: column;
}

.panel p {
	text-align: center;
	color: #ffffff;

}

.panel header {
	color: #ffffff;
	text-align: center;
	background: #1B2446;
}

.panel header p {
	text-align: center;
	color: rgba(255,255,255,0.8);
}


.panel footer  {
	text-align: left;
	background: #1B2446;
	padding: 10%;
}

.panel footer p {
	text-align: left;
	color: rgba(255,255,255,0.8);
}

.panel .buttons {
	padding-top: 10px;
}

.panel button {
	padding: 5px 10px;
	background: #252525;
	border: 1px solid #00939C;
	color: #dadada;
}

.panel button:hover {
	background: #00939C;
	color: #252525;
}

.stats
{
 background-color: #500000;
 padding: 50%;
}

.flag {

		width: 50%;
	  left: 10px;
	  padding:  10%;
}
