.panel {
	z-index: 100;

	position: absolute;
	top: 10px;
	left: 10px;

	width: 20%;
	max-width: 256px;
	min-width: 128px;


	border: 2px solid #161D35;
	background: #1B2446;

	font-family: 'Open Sans';


	display: flex;
	flex-direction: column;
}
.label {
	z-index: 100;
	max-width: 1024px;
	position: absolute;
	top: 94%;
	left: 10px;
	opacity:.8;
}

.panel p {
	text-align: center;
	color: #D4A968;
}

.panelHeader {
	color: #ffffff;
	text-align: center;
	font-size: 1em;
}
.panelHeader p {
	text-align: center;
	color: #D4A968;
	padding: 2%;
	font-size: 18px;
}
.panelFooter  {
	padding: 2%;
}
.panelFooter main {
	color: #ffffff;
	text-decoration: underline;
}
.panelFooter  p {
	text-align: left;
	color: #D4A968;
	font-size: 12px;
}
.panel button {
	padding: 10px 10px;
	background: #252525;
	border: 1px solid #ffffff;
	color: #D4A968;
}
.panel button:hover {
	background: #00939C;
	color: #252525;
}
.stats
{
  color: #ffffff;
	text-align: left;
	font-size: .8em;
}
.stats thead
{
	text-align: left;
 	color: #ffffff;
	max-width: 256px;
	font-size: 1.25em;
}
.stats tbody
{
	text-align: left;
 	color: #ffffff;
	font-style: italic;
}
.flag {
		width: 50%;
}
