.panel {
	z-index: 100;

	position: absolute;
	top: 10px;
	left: 10px;

	width: 20%;
	max-width: 256px;
	min-width: 128px;

	background: rgba(125,0,0,0.2);
	border: 2px solid #161D35;


	font-family: 'Open Sans';


	display: flex;
	flex-direction: column;
}
.legend {
	z-index: 100;
	max-width: 1024px;
	position: absolute;
	top: 93%;
	left: 10px;
}

.panel p {
	text-align: center;
	color: #D4A968;

}

.panel header {
	color: #ffffff;
	text-align: center;
	background: #1B2446;
	font-size: 1em;
}

.panel header p {
	text-align: center;
	color: #D4A968;
	padding: 2%;
	font-size: 1em;
}


.panel footer  {
	text-align: left;
	background: #1B2446;
	padding: 2%;

}

.panel footer p {
	text-align: left;
	color: #D4A968;
	font-size: 12px;
}

.panel .buttons {
	padding-top: 10px;
}

.panel button {
	padding: 5px 10px;
	background: #252525;
	border: 1px solid #ffffff;
	color: #D4A968;
}

.panel button:hover {
	background: #00939C;
	color: #252525;
}

.stats
{
  color: #ffffff;
	text-align: left;
	font-size: .8em;
}
.stats thead
{
	text-align: left;
 	color: #ffffff;
	max-width: 256px;
	font-size: 1.25em;
}
.stats tbody
{
	text-align: left;
 	color: #ffffff;
	font-style: italic;
}

.flag {
		width: 50%;
}
