.panel {
	z-index: 100;

	position: absolute;
	top: 10px;
	left: 10px;
	padding: 5px;

	background: rgba(125,125,125,0.9);
	border: 2px solid #161D35;
	font-family: 'Open Sans';

	line-height: 0.5;
}
.panel p
{
	font-size: 14px;
}
.panel p2
{
	font-size: 16px;
  text-decoration: underline;
	color:white;
}
.footer
{
	display: flex;
	position: absolute;
	height: 100%;
	flex-direction:column-reverse;

	left: 10px;
	top: -2px;

}

.legend {
	z-index: 100;
	max-width: 1024px;
}


.waterMark {
		z-index: 100;
	max-width: 50%;
	font-size: 10px;
	line-height: 0.15;
	font-style: oblique;
}
